* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* proprietà generali */
body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
  font-size: 14px;
  font-weight: 500;
}
/* /proprietà generali */

/* float */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
/* /float */

/* containers */
.container {
  width: 75%;
  margin: 0 auto;
}

.container-small {
  width: 56%;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
}
/* /containers */

.back-grey {
  background-color: #f5f8fa;
}

/* bottoni */
.btn {
  border: 2px solid #ff7a59;
  border-radius: 5px;
  padding: 10px;
}

.btn-color {
  background-color: #ff7a59;
  color: white;
}

.btn-empty {
  color: #ff7a59;
  margin: 0 20px;
}

.btn-big {
  padding: 20px 25px;
}
/* /bottoni */

/* stile testo */
ul {
  list-style: none;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  margin: 20px 0 40px 0;
}

h1, h2 {
  letter-spacing: -1px;
}
/* /stile testo */

/* stile links */
a {
  text-decoration: none;
}

header a {
   color: inherit;
 }
 /* /stile links */


/* intestazione */
.nav-first {
  border-bottom: 1px solid black;
}
header li {
  display: inline-block;
  line-height: 80px;
}

/* navigazione superiore */
/* blocco di sinistra */
#english {
  padding-right: 15px;
  border-right: 2px solid grey;
}

#contact {
  padding-left: 20px;
}

.left-box span {
  margin: 0 4px;
}
/* /blocco di sinistra */

/* blocco di destra, lente */
#lens {
  color: #0099cc;
}
/* /blocco di destra, lente */
/* /navigazione superiore */

 /* main-nav inferiore e logo */
.logo-container {
  line-height: 80px;
}

.logo-container img{
  vertical-align: middle;
}

.margin {
  margin: 0 15px;
}

.main-nav i {
  margin-left: 10px;
}
/* main-nav inferiore e logo */

/* hero */
.hero {
  background-color: #FFF3EE;
  position: relative;
  height: 695px;
  overflow: hidden;
}

.hero-text {
  width: 40%;
  position: absolute;
  top: 10%;
  z-index: 10;
}

.hero img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero-text a {
  display: inline-block;
}

.hero-text p {
  padding: 30px 0;
}

/* elemento comprente color acqua */
.hero::after {
  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 81px;
  width: 100%;
  background-color: #AFEBE4;
}
/* /elemento comprente color acqua */
/* hero */
/* /intestazione */

/* corpo del progetto  */
/* sezione 1: features */
.features {
  height: 1500px;
}

/* primo blocco titolo e img in contenitore piccolo */
.container-small img {
  width: 30%;
}
/* /primo blocco titolo e img in contenitore piccolo */
/* /sezione 1: features */

/* /corpo del progetto  */
