* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* proprietà generali */
body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -1px;
}

.border-rad {
  border-radius: 5px;
}

.white {
  background-color: white;
}

.back-grey {
  background-color: #f5f8fa;
}
/* /proprietà generali */

/* float */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
/* /float */

/* containers */
.container {
  max-width: 1080px;
  margin: 0 auto;
}

.container-small, .container-powerful {
  text-align: center;
  margin: auto;
}

.container-small {
  max-width: 900px;
}

.container-powerful {
  max-width: 950px;
  margin-bottom: 50px;
}
/* /containers */

/* bottoni */
.btn {
  line-height: 18px;
  vertical-align: middle;
  display: inline-block;
  border: 2px solid #ff7a59;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
}

.btn-color {
  background-color: #ff7a59;
  color: white;
}

.btn-empty {
  color: #ff7a59;
  margin: 0 20px;
}

.btn-big {
  padding: 20px 30px;
}
/* /bottoni */

/* stile testo */
ul {
  list-style: none;
}

h1 {
  font-size: 43px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  margin: 20px 0 40px 0;
}

h3 {
  font-size: 22px;
  margin-bottom: 30px;
}

h1, h2 {
  letter-spacing: -1px;
}

p {
  font-size: 14px;
  line-height: 25px;
}

small, .cell p {
  letter-spacing: 0;
}
/* /stile testo */

/* stile links */
a {
  text-decoration: none;
  display: inline-block;
}

header a {
   color: inherit;
}
/* /stile links */

/* hover dei link */
a:hover {
  text-decoration: underline;
}

header a:hover {
  color: #0091ae;
}

footer a:hover {
  color: white;
}

.column-links ul .contact:hover {
  background-color: white;
}

.btn:hover {
  text-decoration: none;
}

.btn-color:hover {
  color: inherit;
  background-color: lightgrey;
  border: 2px solid lightgrey;
}

.btn-empty:hover {
  color: white;
  background-color: #ff7a59;
  border: 2px solid #ff7a59;
  opacity: 0.6;
}

.curtain-box:hover .curtain{
  visibility: visible;
}
/* /hover dei link */


/* intestazione */
.nav-first {
  height: 80px;
  border-bottom: 1px solid black;
}
header li {
  display: inline-block;
  line-height: 80px;
}

/* navigazione superiore */
/* blocco di sinistra */
.english-ul {
  line-height: 80px;
}

#english {
  padding-right: 18px;
  border-right: 2px solid grey;
}

#contact {
  padding-left: 20px;
}

.left-box span {
  margin: 0 4px;
}
/* /blocco di sinistra */

/* tendine ai link */
.curtain-box {
  position: relative;
}

.curtain {
  visibility: hidden;
  z-index: 50;
  position: absolute;
  top: 70%;
  right: 50%;
  transform: translateX(50%);
  width: 100px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 1px lightgrey;
  -moz-box-shadow: 0 0 10px 1px lightgrey;
  box-shadow: 0 0 10px 1px lightgrey;
}

.curtain.curtain-last {
  right: 0;
  transform: translateX(0);
}

.curtain.curtain-big {
  width: 160px;
}

.curtain.curtain-medium {
  width: 140px;
}

.curtain li {
  display: block;
  text-align: center;
  line-height: 40px;
}
/* /tendine ai link */

/* blocco di destra, lente */
#lens {
  color: #0099cc;
}
/* /blocco di destra, lente */
/* /navigazione superiore */

/* main-nav inferiore e logo */
.logo-container, .main-nav a {
  line-height: 80px;
}

.logo-container img{
  vertical-align: middle;
}

.margin {
  margin: 0 15px;
}

.main-nav i {
  margin-left: 10px;
}
/* /main-nav inferiore e logo */

/* hero */
.hero {
  background-color: #FFF3EE;
  position: relative;
  height: 695px;
  overflow: hidden;
}

.hero-text {
  width: 38%;
  position: absolute;
  top: 10%;
  z-index: 10;
}

.hero img {
  position: absolute;
  bottom: 0;
  right: 0;
}


.hero-text p {
  padding: 30px 50px 30px 0;
}

/* elemento comprente color acqua */
.hero::after {
  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 81px;
  width: 100%;
  background-color: #AFEBE4;
}
/* /elemento comprente color acqua */
/* /hero */
/* /intestazione */

/* corpo del progetto  */
main .margin-bot {
  margin-bottom: 50px;
}

/* sezione 1: features */
.features {
  padding: 50px 0;

}
 .shadow {
   -webkit-box-shadow: 0 0 3px 1px lightgrey;
   -moz-box-shadow: 0 0 3px 1px lightgrey;
   box-shadow: 0 0 3px 1px lightgrey;
 }
/* primo blocco titolo e img in contenitore piccolo */
.container-powerful>img {
  width: 25%;
}

.container-powerful>p {
  padding: 0 120px;
}
/* /primo blocco titolo e img in contenitore piccolo */

/* secondo blocco */
.container.white {
  padding: 70px 0;
}

.container.white .container-small {
  margin-bottom: 0;
}

.crm-ill {
  width: 20%;
}

.crm-feat {
  width: 80%;
  text-align: left;
  padding-left: 70px;
}

.crm-ill img {
  width: 80%;
  margin-bottom: 20px;
}

.crm-feat h4, .column h4 {
  text-transform: uppercase;
  margin: 35px 0 30px 0;
  font-size: 18px;
  font-weight: bold;
}

.crm-feat>p {
  padding-right: 130px;
}

.crm-feat hr, .crm-feat h4 {
  display: inline-block;
}

.crm-feat hr {
  width: 60%;
  vertical-align: middle;
  margin-left: 50px;
  border: 1px solid #A9A9A9;
  background-color: #A9A9A9;
}

.crm-feat li {
  display: inline-block;
  margin-right: 25px;
}

.check-orange {
  color: #ff7a59;
  margin-right: 15px;
}
/* /secondo blocco */

/* terzo blocco */
.column {
  width: calc((100% - 90px)/ 3);
  background-color: white;
  padding: 15px 45px;
  text-align: center;
}

.col-cent {
  margin: 0 45px;
}

.column img {
  height: 105px;
  margin-bottom: 20px;
}

.column ul {
  text-align: left;
  margin-bottom: 50px;
}

.column hr {
  margin-top: 70px;
  border: 1px solid #A9A9A9;
  background-color: #A9A9A9;
}
/* /terzo blocco */
/* /sezione 1: features */

/* sezione 2: results */
.results {
  text-align: center;
  color: white;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  padding: 50px 0 70px 0;
}

.results h2 {
  margin-top: 0;
  font-size: 29px;
}

/* righe e celle con risultati */
.results-title {
  margin-bottom: 60px;
}

.results-title p {
  padding: 0 7px;
}

.row-border {
  border-top: 1px solid white;
}

.cell {
  width: calc(100% /4);
  padding-top: 20px;
}

.cell:not(.last-cell) {
  border-right: 1px solid white;
}

.cell h3 {
 font-size: 40px;
 font-weight: bolder;
}

.cell .plus {
  display: inline-block;
  font-size: 25px;
  vertical-align: middle;
  font-weight: normal;
  padding-bottom: 4px;
}

.cell h3, .cell p {
  margin: 15px 0;
}

.cell p {
  font-size: 10px;
}
/* /righe e celle con risultati */
/* /sezione 2: results */

/* sezione 3: customers */
.container-customers {
  text-align: left;
  max-width: 950px;
  margin: 50px auto;
}

.numb-customers {
  width: 20%;
}

.logos-customers {
  width: 80%;
}

.numb-customers h3 {
  font-size: 40px;
}

.logos-customers {
  padding-top: 25px;
  padding-left: 180px;
}

.logos-customers img {
  max-width: calc(((760px - 180px) - 60px) / 4);
  vertical-align: middle;
}

.logos-customers img:not(.last-img) {
  margin-right: 20px;
}

.second-row-logos {
  margin-top: 25px;
}

/* padding dei logo */
#classpass {
  padding-right: 30px;
}

#subaru, #doordash {
  padding: 0 5px;
}

#crowd {
  padding-right: 5px;
}

#purple {
  padding-right: 12px;
}
/* /padding dei logo */

/* blocco start growing e foto marketing */
.start-growing {
  width: 40%;
  text-align: left;
}

.start-growing h2, .start-growing p:last-of-type {
  margin-bottom: 30px;
}

.start-growing .btn {
  margin: 30px 0;
}

.foto-marketing {
  text-align: right;
  width: 60%;
}

.foto-marketing img{
  width: 40%;
}
/* /blocco start growing e foto marketing */
/* /sezione 3: customers */
/* /corpo del progetto  */

/* footer */
footer {
  background-color: #32495B;
  padding: 40px 0;
  color: #E8E8E8;
  font-size: 14px;
}

footer a {
  color: #E8E8E8;
  font-weight: normal;
}

.footer-links {
  margin-bottom: 50px;
}

.column-links {
  width: 25%;
}

/* colonne dei links */
.column-links h3 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bolder;
  color: white;
}

.column-links ul li {
  line-height: 34px;
}

.column-links ul .contact {
  margin: 10px 0;
  padding: 10px;
  background-color: #E8E8E8;
  border: 0;
  color: #33475b;
}

.column-links .right-list li:last-child {
  width: 62%;
}

.social {
  display: inline-block;
  width: 20%;
}
/* /colonne dei links */

/* sezione lamguages */
.languages>.container{
  text-align: center;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 20px;
}

.languages li {
  display: inline-block;
  padding: 0 10px;
}
/* /sezione lamguages */

/* sezione logo e note legali */
.legal-notes {
  padding-top: 40px;
}

.legal-notes h5 {
  font-size: 15px;
  font-weight: 500;
}

.legal-notes ul li {
  display: inline-block;
  padding-left: 20px;
}
/* /sezione logo e note legali */
/* /footer */
